.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 0px;
  background-color: #d7d7d7;
  box-shadow: 0 5px 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center {
  text-align: center;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.transaction-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
}

.transaction-form input:hover {
  border: 1px solid #377;
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list>li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 3px 2px gray;
  margin: 10px 0;
  background-color: white;
}

.btn {
  background-color: #1a4040;
  color: white;
  font-weight: bold;
  font-size: 18px;

}

.btn:hover {
  background-color: #377;
  cursor: pointer;
}

.income {
  color: #06b706;
}

.expense {
  color: red;
}

.balance {
  font-size: 50px;
  font-weight: 900;
  color: #06b706;
}

.heading {
  max-width: 402px;
  margin: -49px auto;
  margin-top: -49px;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 1px 50px;
  background-color: #1a4040;
  color: white;
  font-size: 20px;
  margin-top: 0px;
}